.th-tabbar {
  /* flex: 1; */
  display: inline-block;
  background-color: var(--dark-0);
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  z-index: 8;
  margin-bottom: var(--extraSmall);
}
.tabbar-section {
  display: flex;
  align-items: center;
  gap: var(--extraSmall);
  height: var(--c4);
}
/* .tabbar-section:last-child {
  justify-content: flex-end;
} */
.thoth-logo {
  position: relative;
  top: 2px;
  margin-left: calc(var(--c2) + 2px);
  margin-right: var(--c3);
  height: var(--c2);
}

.tabbar-tab {
  position: relative;
  top: 1px;
  padding: var(--small) var(--small);
  box-sizing: border-box;
  width: var(--c28);
  background-color: var(--dark-1);
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  cursor: pointer !important;
}

.tabbar-user {
  display: inline-block;
  position: absolute;
  right: 15px;
}

.tabbar-tab.active {
  background: var(--dark-2);
  height: var(--c4);
  color: var(--dark-5);
  border: 1px solid var(--dark-2);
  border-radius: 4px;
}

.tabbar-tab.inactive {
  border: 1px solid var(--dark-2);
  background-color: var(--dark-0);
  height: var(--c4);
  color: var(--dark-5);
  border: 1px solid var(--dark-2);
  border-radius: 4px;
}
.tabbar-tab.inactive:hover {
  background-color: var(--dark-1);
}

.tabbar-tab p {
  flex: 1;
  display: inline-block;
  margin: 0;
  cursor: pointer !important;
}

.tabbar-tab span {
  display: flex;
  right: 10px;
  font-size: var(--c2);
  cursor: pointer !important;
}

.create-spell-tab {
  display: flex;
  color: var(--dark-5);
  border-radius: 4px;
  position: relative;
  height: var(--c4);
  border: 1px solid var(--dark-2);
  width: 2vw;
  align-items: center;
  justify-content: center;
  margin-left: 15%;
  background-color: transparent;
}

.create-spell-tab:hover {
  background-color: var(--dark-2);
}
