.header {
  padding: 0.7rem 1rem;
  display: flex;
  background: #272727;
  align-items: center;
  justify-content: space-between;
}

.btn {
  box-shadow: none;
}

.listContainer {
  background: #424242;
  height: 100%;
}

.container {
  background: var(--dark-0);
}

.drawer {
  width: 200px;
  z-index: 0 !important;
  height: 100%;
}

.drawerPaper {
  width: 80%;
  margin-left: 20%;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden;
}
