.message {
  position: relative;
  margin-left: var(--extraLarge);
  margin-right: var(--extraLarge);
  padding: var(--extraSmall);
  padding-left: var(--small);
  padding-right: var(--small);
  text-align: center;
  top: 35%;
  transform: translateY(-50%);
}