# See http://help.github.com/ignore-files/ for more about ignoring files.

hnswlib.index
# compiled output
/dist
/tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings


# System Files
.DS_Store
Thumbs.db

.env.local
dev.db
*/**/dev.db

yarn.lock

/files/*

# Generated Docusaurus files
.docusaurus/
.cache-loader/

scripts/.cache

apps/docs/build
apps/docs/api/index.md
data.json
/logs
docstore.json
.vercel
.nx
**/docs/api

# Next.js
.next

.portal.dev.env
.portal.prod.env
.ide.prod.env

**/**/*.node