legacy-peer-deps = true

@magickmlgc:registry=https://us-west1-npm.pkg.dev/magick-387817/magickml/
//us-west1-npm.pkg.dev/magick-387817/magickml/:always-auth=true

registry=https://registry.npmjs.org/
