@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

@font-face {
  font-family: 'BerkeleyMono-Regular';
  src: url(https://lglrzlrsfxchbqsslvur.supabase.co/storage/v1/object/public/assets/BerkeleyMono-Regular.otf);
}

* {
  margin: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
span,
body,
div,
form,
button,
label,
.flexlayout__tab_button_content {
  font-family: 'BerkeleyMono-Regular', 'IBM Plex Sans', 'IBM Plex Mono',
    sans-serif !important;
}

:root {
  color-scheme: dark;

  --primary: #00e1ef;
  --primary-dark: #00818a;
  --primary-darkest: #043b3f;
  --dark-0: #000000;
  --dark-1: #191919;
  --dark-2: #272727;
  --dark-3: #424242;
  --dark-4: #636363;
  --dark-5: #fff;
  --white: #fff;

  --red: #f54703;
  --orange: #f59403;
  --yellow: #fcbd03;
  --green: #21b534;
  --blue: #1290ce;
  --deep-blue: #1459fa;
  --purple: #7027dd;
  --glow-light: #b2fccd75;
  --glow: #00e1ef;
  --glow-dark: #00818a;

  --c0: 5px;
  --c1: 8px;
  --c2: 16px;
  --c3: 24px;
  --c4: 32px;
  --c5: 40px;
  --c6: 48px;
  --c7: 56px;
  --c8: 64px;
  --c9: 72px;
  --c10: 80px;
  --c11: 88px;
  --c12: 96px;
  --c13: 104px;
  --c14: 112px;
  --c15: 120px;
  --c16: 128px;
  --c17: 136px;
  --c18: 144px;
  --c19: 152px;
  --c20: 160px;
  --c21: 168px;
  --c22: 176px;
  --c23: 184px;
  --c24: 192px;
  --c25: 200px;
  --c26: 208px;
  --c27: 216px;
  --c28: 224px;
  --c29: 232px;
  --c30: 240px;
  --c31: 248px;
  --c32: 256px;
  --c33: 264px;
  --c34: 272px;
  --c35: 280px;
  --c36: 288px;
  --c37: 296px;
  --c38: 304px;
  --c39: 312px;
  --c40: 320px;
  --c41: 328px;
  --c42: 336px;
  --c43: 344px;
  --c44: 352px;
  --c45: 360px;
  --c46: 368px;
  --c47: 376px;
  --c48: 384px;
  --c49: 392px;
  --c50: 400px;
  --c51: 408px;
  --c52: 416px;
  --c53: 424px;
  --c54: 432px;
  --c55: 440px;
  --c56: 448px;
  --c57: 456px;
  --c58: 464px;
  --c59: 472px;
  --c60: 480px;
  --c61: 488px;
  --c62: 496px;
  --c63: 504px;
  --c64: 512px;
  --c65: 520px;
  --c66: 528px;
  --c67: 536px;
  --c68: 544px;
  --c69: 552px;
  --c70: 560px;
  --c71: 568px;
  --c72: 576px;
  --c73: 584px;
  --c74: 592px;
  --c75: 600px;
  --c76: 608px;
  --c77: 616px;
  --c78: 624px;
  --c79: 632px;
  --c80: 640px;
  --c81: 648px;
  --c82: 656px;
  --c83: 664px;
  --c84: 672px;
  --c85: 680px;
  --c86: 688px;
  --c87: 696px;
  --c88: 704px;
  --c89: 712px;
  --c90: 720px;
  --c91: 728px;
  --c92: 736px;
  --c93: 744px;
  --c94: 752px;
  --c95: 760px;
  --c96: 768px;
  --c97: 776px;
  --c98: 784px;
  --c99: 792px;
  --c100: 800px;

  --extraSmall: 8px;
  --small: 16px;
  --medium: 24px;
  --large: 40px;
  --extraLarge: 64px;
}
