.icon {
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.account {
  background-image: url('account.svg');
}
.add {
  background-image: url('add.svg');
}
.ankh {
  background-image: url('ankh.svg');
}
.add {
  background-image: url('add.svg');
}
.bird {
  background-image: url('bird.svg');
}
.cloth {
  background-image: url('cloth.svg');
}
.cup {
  background-image: url('cup.svg');
}
.feathers {
  background-image: url('feathers.svg');
}
.fewshot {
  background-image: url('fewshot.svg');
}
.hand {
  background-image: url('hand.svg');
}
.info {
  background-image: url('info.svg');
}
.merge {
  background-image: url('merge.svg');
}
.minus {
  background-image: url('minus.svg');
}
.moon {
  background-image: url('moon.svg');
}
.newnode {
  background-image: url('newnode.svg');
}
.pause {
  background-image: url('pause.svg');
}
.person {
  background-image: url('person.svg');
}
.play-print {
  background-image: url('play-print.svg');
}
.play {
  background-image: url('play.svg');
}
.properties {
  background-image: url('properties.svg');
}
.refresh {
  background-image: url('refresh.svg');
}
.search {
  background-image: url('search.svg');
}
.seive {
  background-image: url('seive.svg');
}
.snake {
  background-image: url('snake.svg');
}
.state {
  background-image: url('state.svg');
}
.state-read {
  background-image: url('state-read.svg');
}
.state-write {
  background-image: url('state-write.svg');
}
.stop {
  background-image: url('stop.svg');
}
.stop-sign {
  background-image: url('stop-sign.svg');
}
.switch {
  background-image: url('switch.svg');
}
.temperature {
  background-image: url('temperature.svg');
}
.text {
  background-image: url('text.svg');
}
.time {
  background-image: url('time.svg');
}
.warn {
  background-image: url('warn.svg');
}
.add {
  background-image: url('add.svg');
}
.water {
  background-image: url('water.svg');
}
.water-play {
  background-image: url('water-play.svg');
}
.water-run {
  background-image: url('water-run.svg');
}
.folder {
  background-image: url('folder.svg');
}
.close {
  background-image: url('close.svg');
}
.tiles {
  background-image: url('tiles.svg');
}
.trash {
  background-image: url('trash.svg');
}

.trash:hover {
  background-image: url('dangerTrash.svg');
}

.node-lock {
  background-image: url('node-lock.svg');
}
