html,
body {
  background-color: var(--dark-0);
  color: var(--dark-4);
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

html,
body,
#root {
  height: 100%;
}

.socket.output.any-type,
.socket.input.any-type {
  background: #838383;
}

.socket.output.boolean,
.socket.input.boolean {
  background: #f54703;
}

.socket.output.string,
.socket.input.string {
  background: #f59403;
}

.socket.output.array,
.socket.input.array {
  background: #1290ce;
}

.socket.output.object,
.socket.input.object {
  background: #21b534;
}

.socket.output.number,
.socket.input.number {
  background: #fcbd03;
}

.socket.output.trigger,
.socket.input.trigger {
  background: #7027dd;
}

.socket.output.agent,
.socket.input.agent {
  background: #0e10a4;
}

.socket {
  height: var(--small);
  width: var(--small);
  border: 1px solid var(--primary);
}

.socket.output {
  position: relative;
  right: -5px;
}

.socket.input {
  position: relative;
  left: -5px;
}

.socket:hover {
  background-color: var(--dark-1);
}

.node.selected {
  background-color: #05c807 !important;
}

.connection .main-path {
  stroke-width: 2px;
  stroke: var(--primary);
  filter: drop-shadow(0px 1px 0px var(--dark-0))
    drop-shadow(0px -1px 0px var(--dark-0))
    drop-shadow(-1px 0px 0px var(--dark-0))
    drop-shadow(1px 0px 0px var(--dark-0));
}

button {
  box-sizing: border-box;
  color: #fff;
  border-radius: 4px;
  cursor: default;
  background-color: var(--dark-3);
  border: 1px solid var(--dark-4);
  padding: 9px 16px;
  padding-left: var(--small);
  padding-right: var(--small);
  font-family: 'IBM Plex Mono', 'sans-serif' !important;
  font-size: 11px;
  text-transform: uppercase;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
  height: var(--c4);
  display: flex;
  align-items: center;
}

button.option {
  border: none;
  margin: 0;
  border-radius: 0;
}

button.primary {
  background-color: var(--primary);
}

button.list {
  background-color: var(--dark-2);
  padding: 3px;
  padding-left: var(--small);
  padding-right: var(--small);
}

button.small {
  background-color: var(--dark-3s);
  padding: 8px;
  padding-left: var(--small);
  padding-right: var(--small);
}

button.extra-small {
  background-color: var(--dark-3);
  padding: 4px;
  padding-left: var(--extraSmall);
  padding-right: var(--extraSmall);
  font-size: 8px;
  height: 16px;
}

button:hover {
  filter: brightness(1.1);
}

button:active {
  filter: brightness(0.9);
}

button.disabled {
  box-shadow: none;
  pointer-events: none;
  opacity: 0.5;
  background-color: var(--dark-2);
}

.node.selected button {
  background-color: var(--primary) !important;
}

.context-menu {
  padding: 0 !important;
  width: var(--c30) !important;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 999999999 !important;
}

.context-menu .item {
  box-sizing: border-box;
  border: 1px solid var(--dark-3) !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  position: relative !important;
  display: inline-block !important;
  background-color: var(--dark-2) !important;
  padding: var(--extraSmall) !important;
  padding-left: var(--small) !important;
  text-transform: capitalize !important;
  width: var(--c30) !important;
}

.context-menu .item:hover {
  background-color: var(--primary) !important;
}

.context-menu .item:first-child {
  border-top: 1px solid var(--dark-3) !important;
}

.context-menu .item:last-child {
  border-bottom: 1px solid var(--dark-3) !important;
}

.context-menu .search {
  box-sizing: border-box;
  border: 1px solid var(--dark-3) !important;
  border-bottom: 0 !important;
  position: relative !important;
  display: inline-block !important;
  background-color: var(--dark-2) !important;
  padding: var(--extraSmall) !important;
  text-transform: capitalize !important;
}

.context-menu .search input {
  box-sizing: border-box !important;
  padding: var(--extraSmall) !important;
  /* not using a var here to optically correct for base + cap of typeface */
  background-color: var(--dark-2) !important;
  padding-left: var(--small) !important;
  padding-right: var(--small) !important;
  color: #fff !important;
  border-radius: 4px !important;
  cursor: default !important;
  border: 1px solid var(--dark-4) !important;
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.1) !important;
  font-family: 'IBM Plex Mono', monospace !important;
  font-size: 11px !important;
  height: var(--c4) !important;
}

.layout-container {
  position: relative;
  height: 100%;
}

.flexlayout__tab {
  overflow: hidden;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #333;
  border-top: 0;
}

.flexlayout__tabset {
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 4px;
  overflow: hidden;
}

.flexlayout__tabset-selected {
  background: var(--dark-0);
}

.flexlayout__tabset_tabbar_inner_tab_container_top {
  border-top: none;
  background-color: var(--dark-2);
}

.flexlayout__tabset_tabbar_outer_top {
  border-bottom: none;
}

.flexlayout__tabset {
  font-size: 16px;
}

.flexlayout__tab {
  background-color: var(--dark-3);
}

.flexlayout__tab_toolbar {
  background-color: var(--dark-2);
}

.flexlayout__tab_button {
  margin: 0;
  background-color: var(--dark-3);
  box-shadow: none;
  padding-left: var(--extraSmall);
  padding-right: var(--extraSmall);
}

.flexlayout__tab_button {
  border-radius: 0;
  visibility: inherit !important;
}

.flexlayout__tab_button--unselected {
  background-color: var(--dark-2);
}

.flexlayout__tab_button:hover {
  filter: brightness(2.1);
  /* background-color: var(--dark-3); */
}

.flexlayout__splitter {
  background-color: transparent;
}

/* .view-line span {
  font-family: 'IBM Plex Mono', sans-serif;
} */

input[type='text'] {
  box-sizing: border-box;
  padding: var(--extraSmall);
  /* not using a var here to optically correct for base + cap of typeface */
  background-color: var(--dark-2);
  padding-left: var(--small);
  padding-right: var(--small);
  color: #fff;
  border-radius: 4px;
  cursor: default;
  border: 1px solid var(--dark-4);
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.1);
  font-family: 'IBM Plex Mono', monospace !important;
  font-size: 11px;
  height: var(--c4);
}

.App {
  width: calc(100% - 180px);
}

.agents-container {
  display: flex;
}

.agent-header {
  display: flex;
}

.agent-createModal {
  position: relative;
  right: 400px;
  bottom: 350px;
}

.nav {
  width: 180px;
  float: left;
  height: 100vh;
}

.nav-item,
.nav-item-active {
  cursor: pointer;
  margin: 2em;
  display: block;
}

.nav-item-active {
  color: white;
}

.flex-container {
  margin: 0.5em;
  width: calc(100% - 2em);
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  display: flex;
  margin: 0.5em;
}

.form-item {
  padding: 1em 0;
}

.entBtns {
  display: flex;
}

.form-item-label {
  display: block;
  margin-bottom: 0.5em;
}

.form-text-area,
.agent-select > select,
.search-corpus > select {
  width: 100%;
  box-sizing: border-box;
  padding: var(--extraSmall);
  /* not using a var here to optically correct for base + cap of typeface */
  background-color: var(--dark-2);
  color: #fff;
  border-radius: 4px;
  cursor: default;
  border: 1px solid var(--dark-4);
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.1);
  font-family: 'IBM Plex Mono', monospace !important;
  font-size: 11px;
  height: var(--c4);
}

.search-corpus-btns {
  vertical-align: middle;
  display: inline-flex;
  justify-content: space-between;
  margin: 0 1rem;
  width: 25%;
}

.search-corpus-documents-list {
  margin: 1rem 0;
}

.search-corpus-document,
.content-obj {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
}
.search-corpus-document {
  background: #545454;
}
.content-obj {
  background: var(--dark-3);
}

.search-corpus-btn {
  background-color: #2e2e2e;
  border: none;
  margin: 0 0.4rem;
}

.admin-container {
  margin-left: 11em;
  margin-top: 1em;
}

.agentFields {
  padding-right: 10px;
}

.agentBtns {
  display: flex;
}

.agentBtns button {
  background-color: #878587;
}

.agentBtns .updateBtn {
  margin-left: auto;
  order: 2;
}

.agent-Manager select {
  background: #fff;
  color: #636363;
}

.dialogInput {
  min-height: 100px;
}
.personalityInput,
.MonologueInput,
.FactsInput {
  min-height: 50px;
}
.gettingsInput {
  min-height: 80px;
}

.agent-container {
  max-width: 100%;
  padding: 2em;
  height: calc(100% - 4em);
  overflow: auto;
}

.agent-editor {
  padding: 2em;
  height: calc(100% - 4em);
  overflow: auto;
}

.form-item > input[type='text'] {
  width: 100%;
}

.form-item > input[type='checkbox'] {
  display: inline-flex;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.custom-checkbox {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.4rem;
  margin: 0 0.5rem;
}

.bare-input {
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  outline: none;
  font-size: 0.975rem;
}

.adminActive div {
  background-color: #05c807 !important;
  color: red !important;
}
