@keyframes nodeGenesis {
  from {
    opacity: 0;
    transform: scale(1.2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.node {
  animation: nodeGenesis 0.2s ease;
  transition: background-color 0.05s ease;
  min-width: var(--c40);
  width: var(--c40);
  border-radius: var(--extraSmall);
  border: 1px solid transparent;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(70, 70, 70, 0.7);
  color: #aaa;
  resize: both;
  /* backdrop-filter: blur(3px); */
}
.node:hover {
  border: 1px solid var(--dark-4);
}
.node-depricated {
  position: absolute;
  right: 10px;
  color: var(--red);
  border-radius: var(--extraSmall);
}
.deprecated-overlay {
  background-color: var(--red);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.2;
}
.node-id {
  position: absolute;
  top: -5px;
  right: 10px;
  color: var(--dark-4);
}
.node-id.error {
  color: var(--red);
}
.node-id.success {
  color: var(--green);
}
.node-title {
  /* font-family: 'IBM Plex Mono', monospace !important; */
  /* text-transform: uppercase; */
  letter-spacing: 0.1em;
  font-weight: 900;
  padding: var(--extraSmall);
  padding-bottom: var(--small);
  padding-top: var(--small);
  border-bottom: 1px solid var(--dark-2);
  color: #fff;
  background: none;
  border-radius: var(--extraSmall) var(--extraSmall) 0px 0px;
  display: flex;
  opacity: 0.5;
}
.input,
.output {
  display: flex;
}

.connections-container {
  display: flex;
}
.bottom-container {
  font-family: 'IBM Plex Mono', monospace !important;
  border-top: 1px solid var(--dark-2);
  padding: var(--extraSmall);
  display: flex;
  flex-direction: column;
  gap: var(--extraSmall);
}
.bottom-container .control {
  font-family: 'IBM Plex Mono', monospace !important;
  flex: 1;
}
.bottom-container .control:last-child {
  font-family: 'IBM Plex Mono', monospace !important;
  flex: 0.5;
}
.bottom-container .control:first-child {
  font-family: 'IBM Plex Mono', monospace !important;
  flex: 1;
}

.control button {
  background-color: var(--primary);
  width: 100%;
  font-family: 'IBM Plex Mono', monospace !important;
}
.control input {
  box-sizing: border-box;
  width: 100%;
}
.node.selected {
  color: var(--dark-5);
  background-color: rgba(70, 70, 70, 0.95);
  border-color: var(--primary);
  /* backdrop-filter: blur(15px); */
}
.node.error {
  border-color: var(--red) !important;
  /* backdrop-filter: blur(15px); */
}
.node.success {
  border-color: var(--green) !important;
}
.node.selected .node-title {
  opacity: 1;
  border-bottom: 1px solid var(--dark-1);
  /* background: linear-gradient(to top left, rgba(80,144,206,0), rgba(57, 159, 228, 0.2)); */
}
.node.selected .bottom-container {
  border-top: 1px solid var(--dark-1);
}
.connection-container {
  padding: var(--extraSmall);
  flex: 1;
}
.connection-container.out {
  background-color: rgba(0, 0, 0, 0.3);
}
.input {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.output {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.node-locked {
  background-color: var(--dark-3);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.6;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  border-radius: var(--extraSmall);
  width: 99%;
  height: 99%;
  margin: auto;
}
