.th-sidepanel {
  position: absolute;
  height: calc(100vh - 70px - var(--small) - var(--small));
  width: 25vw;
  right: var(--small);
  top: var(--c10);
  background-color: rgba(50, 50, 50, 0.95);
  border: 1px solid var(--dark-2);
  z-index: 9;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
}
.tabs {
  display: flex;
  flex-direction: row;
}
.tab {
  background-color: rgba(40, 40, 40, 0.95);
  cursor: default;
  text-align: center;
  padding: var(--extraSmall);
  flex: 1;
  border-bottom: 1px solid var(--dark-2);
}
.tab-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin: var(--extraSmall);
}
.tab:hover {
  background-color: rgba(60, 60, 60, 0.95);
}
.tab.active {
  border-bottom: 1px solid transparent;
  background-color: rgba(50, 50, 50, 0.95);
}
.playtest-output {
  border: 1px solid var(--dark-2);
  padding: var(--c1);
  background-color: rgba(40, 40, 40, 0.95);
  color: rgba(150, 150, 150, 0.95);
  flex: 1;
  font-family: 'IBM Plex Mono', 'mono';
  overflow-y: hidden;
  display: flex;
}

.playtest-output ul {
  padding: 0 var(--c2);
  margin: 0;
}

.playtest-output li {
  display: block;
  margin: 0 0px;
}

.bottom-container button {
  float: right;
  margin-right: 10px;
}

.code-editor {
  border: 1px solid var(--dark-2);
  height: 100%;
}
.playtest-input {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--extraSmall);
}

.playtest-input input {
  color: #fff;
  width: 100%;
  border-radius: 4px;
  cursor: default;
  background-color: var(--dark-2);
  border: 1px solid var(--dark-3);
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.1);
  flex: 1;
  height: var(--c4);
  margin-right: var(--extraSmall);
  padding: var(--c2);
}
.node-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--extraSmall);
}
.node-grid-item {
  cursor: grab;
  transition: background-color 0.05s ease;
  border-radius: var(--extraSmall);
  border: 1px solid transparent;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(70, 70, 70, 0.7);
  color: #aaa;
  resize: both;
  margin-bottom: var(--extraSmall);
}
.node-grid-item:hover {
  border: 1px solid var(--dark-3);
}
.node-title {
  letter-spacing: 0.1em;
  font-weight: 900;
  padding: var(--extraSmall);
  padding-bottom: var(--small);
  padding-top: var(--small);
  border-bottom: 1px solid var(--dark-1);
  color: #aaa;
  background: none;
  border-radius: var(--extraSmall) var(--extraSmall) 0px 0px;
}
.node-bottom-container {
  font-family: 'IBM Plex Mono', monospace !important;
  padding: var(--extraSmall);
  display: flex;
  flex-direction: row;
  gap: var(--extraSmall);
}
.form-text-area {
  color: #fff;
  border-radius: 4px;
  cursor: default;
  background-color: var(--dark-2);
  border: 1px solid var(--dark-3);
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.1);
  flex: 1;
  height: var(--c4);
  margin-right: var(--extraSmall);
  padding: var(--c2);
}
