@keyframes nodeGenesis {
  from {
    opacity: 0;
    transform: scale(1.2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.node {
  /* animation: nodeGenesis 0.5s ease; */
  transition: background-color 0.05s ease;
  min-width: var(--c30);
  width: var(--c30);
  border-radius: var(--extraSmall);
  border: 1px solid var(--deep-background-color);
  /* box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2); */
  background-color: var(--foreground-color-90);
  color: white;
  resize: both;

  /* backdrop-filter: blur(3px); */
}
.node:hover {
  outline: 2px solid var(--blue);
}
.node.selected {
  /* color: var(--glow); */
  background-color: var(--foreground-color);
  box-shadow: var(--blue);
  outline: 2px solid var(--blue);
  /* backdrop-filter: blur(15px); */
}
.node.error {
  outline-color: var(--red) !important;
  /* backdrop-filter: blur(15px); */
}
.node.success {
  outline-color: var(--blue) !important;
  border: 2px solid var(--blue);
  transition: border 0.2s ease, outline-color 0.2s ease;
}
.node-depricated {
  position: absolute;
  right: 10px;
  color: var(--red);
  border-radius: var(--extraSmall);
}
.node-id {
  position: absolute;
  top: 8px;
  right: 10px;
  color: var(--dark-4);
}
.node-id.error {
  color: #ff0000;
}
.node-id.success {
  color: var(--green);
}
.node-title-container {
  background: var(--background-color);
  border-bottom: 1px solid var(--deep-background-color);
  border-radius: var(--extraSmall) var(--extraSmall) 0px 0px;
}
.node-title {
  font-family: 'BerkeleyMono-Regular', 'IBM Plex Sans', 'IBM Plex Mono',
    sans-serif;
  /* text-transform: uppercase; */
  letter-spacing: 0.1em;
  font-weight: 900;
  padding: var(--extraSmall);
  color: white;
  border-radius: var(--extraSmall) var(--extraSmall) 0px 0px;
  display: flex;
  width: 83%;
  word-break: break-word;
}
.input,
.output {
  display: flex;
}

.connections-container {
  display: flex;
  padding: var(--extraSmall);
}
.bottom-container {
  font-family: 'BerkeleyMono-Regular', 'IBM Plex Mono', monospace !important;
  border-top: 1px solid var(--dark-2);
  padding: var(--extraSmall);
  display: flex;
  flex-direction: column;
  gap: var(--extraSmall);
}
.bottom-container .control {
  font-family: 'BerkeleyMono-Regular', 'IBM Plex Mono', monospace !important;
  flex: 1;
}
.bottom-container .control:last-child {
  font-family: 'BerkeleyMono-Regular', 'IBM Plex Mono', monospace !important;
  flex: 0.5;
}
.bottom-container .control:first-child {
  font-family: 'BerkeleyMono-Regular', 'IBM Plex Mono', monospace !important;
  flex: 1;
}

.control button {
  background-color: var(--primary);
  width: 100%;
  font-family: 'BerkeleyMono-Regular', 'IBM Plex Mono', monospace !important;
}
.control input {
  box-sizing: border-box;
  width: 100%;
}

.node.selected .node-title {
  opacity: 1;
  border-bottom: 1px solid var(--dark-1);
  /* background: linear-gradient(to top left, rgba(80,144,206,0), rgba(57, 159, 228, 0.2)); */
}
.node.selected .bottom-container {
  border-top: 1px solid var(--dark-1);
}
.connection-container {
  flex: 1;
}
.input {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.output {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.node-locked {
  background-color: var(--dark-3);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.6;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  border-radius: var(--extraSmall);
  width: 99%;
  height: 99%;
  margin: auto;
}

.bare-input {
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  outline: none;
  font-size: 0.975rem;
}

.input-title,
.output-title,
div.item {
  font-family: 'BerkeleyMono-Regular', 'IBM Plex Sans', 'IBM Plex Mono',
    sans-serif;
  font-size: 1.2rem !important;
}

.socket-wrapper {
  display: inherit;
}
