// Palette Colors
:root {
  --abyss: #03070c;
  --neutral-dark: #20232a;
  --midnight: hwb(227 5% 80%);
  --charcoal: rgb(27, 42, 70);
  --charcoal-light: rgb(50 65 94);
  --rich-blue: rgba(0, 11, 214, 0.178);
  --charcoal-90: #1b2a46e0;
  --slate-light: #8d8d8d;
  --slate: #696969;
  --slate-30: #69696930;
  --slate-15: #69696915;
  --neutral-light: #ffffff;
  --gradient-3: linear-gradient(0deg, #1459fa, #7027dd);
  --gradient-4: linear-gradient(310deg, rgb(13, 21, 51), rgba(0, 11, 214, 0.3));

  // Functional Variables
  --primary-color: var(--neutral-light); // Primary color for buttons, etc.
  --deep-background-color: #0b0d0e;
  --background-color: #171b1c; // Used for main backgrounds
  --foreground-color: #363d42; // Primary text color
  --foreground-color-90: #262b2ece;
  --foreground-light: #262b2e;
  --divider: var(--slate); // Divider color
  --sash-highlight: #3b6fd754;
  --active-font-color: var(--neutral-light); // Primary font color
  --inactive-font-color: var(--slate-light); // Secondary font color
  --button-active-bg: var(--neutral-dark); // Background for active buttons
  --button-inactive-text: var(--slate); // Text for inactive buttons
  --button-active-text: var(--neutral-light); // Text for active buttons

  // spacing
  --sash-width: 4px;

  // fonts

  --font-family: 'Montserrat Variable', 'IBM Plex Mono', monospace !important;
}

@mixin dockview-theme-core-mixin {
  --dv-background-color: black;
  --dv-paneview-active-outline-color: dodgerblue;
  --dv-tabs-and-actions-container-font-size: 14px;
  --dv-tabs-and-actions-container-height: 35px;
  --dv-drag-over-background-color: rgba(83, 89, 93, 0.5);
  --dv-drag-over-border-color: white;
  --dv-tabs-container-scrollbar-color: #888;
  --dv-icon-hover-background-color: rgba(90, 93, 94, 0.31);
  --dv-floating-box-shadow: 8px 8px 8px 0px rgba(83, 89, 93, 0.5);
}

.dockview-theme-night {
  @include dockview-theme-core-mixin();
  --dv-background-color: var(--background-color);
  //
  --dv-group-view-background-color: var(--foreground-color);
  //
  --dv-tabs-and-actions-container-background-color: var(
    --deep-background-color
  );
  //
  --dv-activegroup-visiblepanel-tab-background-color: #1e1e1e;
  --dv-activegroup-hiddenpanel-tab-background-color: var(--background-color);
  --dv-inactivegroup-visiblepanel-tab-background-color: #1e1e1e;
  --dv-inactivegroup-hiddenpanel-tab-background-color: var(--background-color);
  --dv-tab-divider-color: var(--divider);
  //
  --dv-activegroup-visiblepanel-tab-color: var(--background-color);
  --dv-activegroup-hiddenpanel-tab-color: #969696;
  --dv-inactivegroup-visiblepanel-tab-color: #8f8f8f;
  --dv-inactivegroup-hiddenpanel-tab-color: #626262;
  //
  --dv-separator-border: rgb(68, 68, 68);
  --dv-paneview-header-border-color: rgba(204, 204, 204, 0.2);

  --dv-group-view-background-color: var(--background-color);
  --dv-active-sash-color: var(--sash-highlight);

  .tab-layout {
    .tabs-and-actions-container .tabs-container .tab:not(:first-child)::before {
      background-color: var(--foreground-color) !important;
    }

    .groupview > .content-container {
      background: var(--gradient-5);
    }

    .tabs-and-actions-container {
      height: 40px;

      .tab.active-tab {
        border-top: 2px solid var(--primary);
        // background-color: var(--background-color) !important;
        background: var(--background-color) !important;
        color: var(--active-font-color) !important;
      }

      .tab.inactive-tab {
        background-color: var(--background-color) !important;
        color: var(--inactive-font-color) !important;
        border-bottom: 1px solid var(--deep-background-color) !important;
      }
    }

    .inactive-group {
      .tabs-and-actions-container {
        .tab.active-tab {
          border-top: none;
          color: var(--inactive-font-color) !important;
        }
      }
    }

    .sash {
      background-color: var(--slate-30);

      &.disabled {
        background-color: var(--background-color);
      }
    }
  }

  .composer-layout {
    .groupview {
      background-color: var(--foreground-color) !important;
    }

    .groupview > .content-container {
      overflow: initial !important;
      background: var(--foreground-color) !important;
    }

    .split-view-container .sash-container .sash:hover {
      background-color: var(--sash-highlight) !important;
    }

    .split-view-container.horizontal > .sash-container > .sash {
      width: var(--sash-width) !important;
    }

    .split-view-container.vertical > .sash-container > .sash {
      height: var(--sash-width) !important;
    }

    .sash {
      background-color: var(--background-color);
    }

    .split-view-container.vertical > .view-container > .view {
      padding-top: var(--sash-width);
      padding-left: var(--sash-width);
    }

    .split-view-container.vertical > .view-container > .view:first-child {
      padding-top: 0;
    }

    .inactive-group {
      .tabs-and-actions-container {
        .tab.active-tab {
          border-top: none;
          color: var(--active-font-color) !important;
        }
      }
    }

    .tabs-and-actions-container {
      height: 30px;
      background-color: var(--background-color);

      .tabs-container {
        .tab {
          background: var(--background-color);
          color: var(--active-font-color);
        }

        .tab.active-tab {
          border-top: none;
          background: var(--foreground-color) !important;
          color: var(--active-font-color);
        }

        .tab.inactive-tab {
          background-color: var(--background-color) !important;
          color: var(--active-font-color) !important;
        }
      }
    }
  }

  // todo there are better ways to do this I think
  [name='react-console-emulator'] {
    background-color: var(--background-color) !important;
  }
}
