.wrapper {
  width: 100%;
  overflow: auto;
}

.container {
  padding: 10px;
  justify-content: space-between;
}

.item {
  background: var(--dark-2);
  border-radius: 4px;
  padding: 1em;
}

.noSelected {
  font-size: 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.mg-btm-small {
  margin-bottom: 10px !important;
}

.mg-btm-medium {
  background-color: var(--primary-dark) !important;
  margin-bottom: 1em !important;
}

.heading {
  color: var(--dark-5);
  text-align: center;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.btn {
  width: 100%;
  padding: 18px 0 !important;
  color: var(--dark-5) !important;
  font-size: 1.1rem !important;
  font-weight: bold;
}

.agentItemContainer {
  display: flex;
  justify-content: space-between;
  background: var(--dark-1);
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 0.5em;
  cursor: pointer;

  &:hover {
    background: #212121;
  }
}

.agentItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.roundedDiv {
  height: 25px !important;
  width: 25px !important;
  background: var(--dark-5) !important;
}

.agentDetailsContainer {
  display: flex;
  justify-content: space-between;
  color: #a1a1a1;
  // overflow-y: scroll;
}

.agentDescription {
  display: flex;
  align-items: center;
}

.avatar {
  background: var(--dark-5) !important;
  margin-right: 15px;
}

.accordion {
  border: none;
}

.connectorsLong {
  overflow: auto;
}
.connectors {
  overflow: auto;
}

.collapse {
  background: #313131 !important;
}

@media (max-width: 870px) {
  .item {
    max-width: 100% !important;
    margin-bottom: 10px !important;
  }

  h6 {
    font-size: 1rem !important;
  }

  p {
    font-size: 0.9rem !important;
  }
}
