.th-tabbar {
  /* flex: 1; */
  display: inline-block;
  background-color: var(--dark-0);
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  z-index: 8;
  /* margin-bottom: var(--extraSmall);
  margin-top: var(--extraSmall); */
}
.tabbar-section {
  display: flex;
  align-items: center;
  height: var(--c4);
}

.tabbar-tab {
  position: relative;
  padding: var(--small) var(--small);
  box-sizing: border-box;
  background-color: var(--dark-1);
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer !important;
}

.tab-close {
  position: relative;
  left: 10px;
}

.tabbar-user {
  display: inline-block;
  position: absolute;
  right: 15px;
}

.tabbar-tab.active {
  background: var(--dark-1);
  height: var(--c4);
  color: var(--dark-5);
  border-bottom: 1px solid var(--primary);
}

.tabbar-tab.inactive {
  border: 1px solid var(--dark-2);
  background-color: var(--dark-0);
  height: var(--c4);
  color: var(--dark-5);
  border: 1px solid var(--dark-2);
}
.tabbar-tab.inactive:hover {
  background-color: var(--dark-1);
}

.tabbar-tab p {
  flex: 1;
  display: inline-block;
  margin: 0;
  cursor: pointer !important;
}

.tabbar-tab span {
  display: flex;
  right: 10px;
  font-size: var(--c2);
  cursor: pointer !important;
}

.create-spell-tab {
  display: flex;
  color: var(--dark-5);
  position: relative;
  height: var(--c4);
  width: 2vw;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.create-spell-tab:hover {
  background-color: var(--dark-2);
}
