.container {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #444654;
    border-color: transparent;
    padding-top: 1.5rem;
}

.chatContainer {
    /* position: fixed; */
    bottom: 1rem;
    /* width: 100%; */
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 640px) {
        /* position: absolute; */
        bottom: 2rem;
        width: 50%;
        left: 280px;
        right: auto;
    }

    @media (min-width: 1024px) {
        left: 200px;
    }
}

.container.dark {
    border-color: rgba(255, 255, 255, 0.125);
    background-color: #444654;
    background-image: linear-gradient(to top, #343541 0%, #343541 100%);
}

.container.dark:not(.bgTransparent) {
    background-color: transparent;
}

@media (min-width: 768px) {
    .container {
        padding-top: 0.5rem;
    }
}


.modelContainer {
    display: flex;
    flex-direction: column;
}

.innerContainer {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    flex-grow: 1;
}

.innerContainer:last-child {
    margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
    .innerContainer {
        margin-top: 3.25rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .innerContainer:last-child {
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .innerContainer {
        margin-left: auto;
        margin-right: auto;
        max-width: 48rem;
    }
}


.stopButton {
    position: absolute;
    top: -2;
    left: 0;
    right: 0;
    margin: auto;
    padding: 2 4;
    border-width: 1;
    border-color: gray-500;
    border-style: solid;
    /* ... other styles from Tailwind */
}

.stopCircleIcon {
    display: inline-block;
    margin-bottom: 2;
}

.textareaWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex-grow: 1;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.375rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    background-color: #40414F;
    border-color: rgba(64, 65, 79, 0.5);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    .textareaWrapper {
        padding-top: 0.75rem;
        padding-left: 1rem;
    }
}


.textarea {
    color: #fff;
    border-radius: 4px;
    cursor: default;
    background-color: var(--dark-2);
    border: 1px solid var(--dark-3);
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    height: var(--c4);
    margin-right: var(--extraSmall);
    padding: var(--c2);
}

.textarea:focus {
    box-shadow: none;
}

.textarea:focus-visible {
    box-shadow: none;
}

.dark .textarea {
    color: #ffffff;
    background-color: transparent;
}

.textarea::placeholder {
    padding-left: 0.5rem;
}

@media (min-width: 768px) {
    .textarea::placeholder {
        padding-left: 0;
    }
}

.flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 300px;
}

.textTitle {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: #2d3748;
}

.textSubTitle {
    text-align: center;
    color: #718096;
}

.textError {
    text-align: center;
    color: #e53e3e;
}

.overflowScroll {
    overflow-y: scroll;
    max-height: 100%;
}

.initialContent {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    gap: 2.5rem;
    width: 350px;
}

.initialTitle {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    color: #2d3748;
}

.modelOptions {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
    padding: 1rem;
    border-width: 1px;
    border-color: #cbd5e0;
    border-style: solid;
    border-radius: 0.375rem;
}

.modelName {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    background-color: #40414F;
    border-width: 1px;
    border-bottom-color: #e2e8f0;
}

.bottomSpace {
    background-color: #343541;
    height: 162px;
}

@media (min-width: 640px) {
    .flexCenter {
        width: 500px;
    }

    .initialContent {
        width: 600px;
    }
}

.dark .container {
    background-color: #343541;
}

.dark .textTitle,
.dark .initialTitle {
    color: #f7fafc;
}

.dark .textSubTitle,
.dark .modelName {
    color: #a0aec0;
}

.dark .modelName {
    background-color: #444654;
    border-width: 0;
}

.aiMessage {
    border-color: rgba(0, 0, 0, 0.1);
    background-color: #444654;
}

.userMessage {
    border-color: rgba(0, 0, 0, 0.1);
    background-color: #343541;
}

.contentWrapper {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    max-width: 48rem;
    margin: 0 auto;
}

.roleLabel {
    font-weight: bold;
    min-width: 40px;
}

.prose {
    margin-top: -2px;
}

.whitespacePreWrap {
    white-space: pre-wrap;
}

/* Custom styles for Markdown components */

.table {
    border-collapse: collapse;
    border-width: 1px;
    border-color: #000;
    padding: 0.25rem 0.75rem;
}

.th {
    border-width: 1px;
    border-color: #000;
    white-space: nowrap;
    padding: 0.25rem 0.75rem;
    background-color: #718096;
    color: #fff;
}

.td {
    border-width: 1px;
    border-color: #000;
    white-space: nowrap;
    padding: 0.25rem 0.75rem;
}

.dark .aiMessage {
    border-color: rgba(14, 20, 30, 0.5);
    background-color: #444654;
}

.dark .userMessage {
    border-color: rgba(55, 65, 81, 0.5);
    background-color: #343541;
}

.label {
    text-align: left;
    margin-bottom: 0.5rem;
    color: #4a5568;
}

.select {
    width: 100%;
    padding: 0.75rem;
    color: #1a202c;
    background-color: #343541;
    border: 1px solid #a0aec0;
    border-radius: 0.5rem;
    appearance: none;
    cursor: pointer;
}

.errorMessage {
    text-align: center;
    margin-bottom: 1rem;
    color: #f56565;
}

.regenerateButton {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 3rem;
    background-color: #f7fafc;
    color: #718096;
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: 0.5rem;
    border: 1px solid rgba(107, 114, 128, 1);
    border-bottom-color: rgba(107, 114, 128, 0.3);

    @media (prefers-color-scheme: dark) {
        background-color: #444654;
        color: #cbd5e0;
        border: none;
    }

}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.systemPromptLabel {
    text-align: left;
    color: #2d3748;
    margin-bottom: 0.5rem;

    @media (prefers-color-scheme: dark) {
        color: #cbd5e0;
    }
}

.textarea {
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    outline: none;
    background-color: #f7fafc;
    border: 1px solid #cbd5e0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #2d3748;

    @media (prefers-color-scheme: dark) {
        background-color: #40414f;
        border-color: rgba(134, 142, 165, 0.5);
        color: #cbd5e0;
    }
}

.group {
    color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #2d3748;
    overflow-wrap: anywhere;

    @media (prefers-color-scheme: dark) {
        color: #cbd5e0;
        border-color: rgba(128, 139, 164, 0.5);
        background-color: #444654;
    }
}

.innerDiv {
    font-size: 1rem;
    gap: 1rem;
    gap: 1.5rem;
    max-width: 36rem;
    max-width: 48rem;
    padding: 1rem 2rem;
    display: flex;
    margin: 0 auto;
}

.fontBold {
    font-weight: bold;
    min-width: 40px;
}

.animatePulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.table {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 0.25rem 0.75rem;

    @media (prefers-color-scheme: dark) {
        border-color: white;
    }
}

.th {
    border: 1px solid black;
    word-break: break-word;
    padding: 0.25rem 0.75rem;
    background-color: #6b7280;
    color: white;

    @media (prefers-color-scheme: dark) {
        border-color: white;
    }
}

.td {
    border: 1px solid black;
    word-break: break-word;
    padding: 0.25rem 0.75rem;

    @media (prefers-color-scheme: dark) {
        border-color: white;
    }
}