.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(20, 20, 20, 0.8);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spell-details {
  margin-right: var(--extraSmall);
  margin-left: var(--extraSmall);
}

.label {
  font-size: 14px;
}

.input {
  margin-top: var(--c1);
  margin-bottom: var(--c1);
  width: 100%;
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: var(--small);
}

.search {
  border: 1px solid var(--dark-4) !important;
  background: transparent !important;
  flex-grow: 1;
  margin-left: 20px;
  padding: 0px 10px !important;
  border-radius: 20px;
}

.searchIcon {
  position: absolute !important;
  right: 0;
  box-shadow: none;
}

.error-message {
  margin-top: var(--c1);
  color: var(--red);
  text-align: center;
}

.template-panel:hover {
  /* background-color: var(--dark-3); */
  border: 1px solid var(--primary);
}
.template-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--extraSmall);
}
.template-container .template-panel {
  border: 1px solid transparent;
}
.template-container p {
  display: inline-block;
  border-radius: 4px;
  padding: var(--extraSmall);
}
.template-container:hover p {
  background-color: var(--dark-3);
}
.template-container:hover .template-panel {
  border: 1px solid var(--dark-4);
}

.template-container.selected p {
  background-color: var(--primary);
}
.template-container.selected .template-panel {
  border: 1px solid var(--primary);
}

.button {
  border: 1px solid var(--dark-4) !important;
  transition: all 0.2s;
}

.create-btn {
  background-color: var(--primary) !important;
  color: white !important;
  cursor: pointer !important;
}

.create-btn:hover {
  background-color: var(--primary-light) !important;
}

.button:hover {
  background-color: var(--primary) !important;
}

.button-row {
  border-top: 1px solid var(--dark-3);
  padding-top: var(--small);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: var(--extraSmall);
}

/* add padding to the button-row right inside the open-project container inside the div.panel.shadow */
.button-row-open {
  border-top: 1px solid var(--dark-3);
  padding-top: var(--small);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: var(--extraSmall);
  padding-right: var(--small);
  padding-bottom: var(--small);
}

.project-row {
  display: flex;
  padding: var(--extraSmall);
  padding-left: var(--small);
  border-bottom: 1px solid var(--dark-2);
  align-items: center;
  font-family: 'IBM Plex Sans', 'IBM Plex Mono', sans-serif;
  gap: var(--extraSmall);
}
.project-row:hover {
  background-color: var(--dark-3);
}
.project-row.selected {
  background-color: var(--primary);
}

.version-banner {
  color: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  box-shadow: inset 0px -30px 30px rgba(0, 0, 0, 0.5);
  background-position: center;
  background-size: cover;
  height: var(--c25);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--small);
}
.open-project-container h1 {
  padding-top: var(--extraSmall);
  padding-bottom: var(--extraSmall);
}
