.paper {
  padding: 1rem;
  width: 600px;
}

.content {
  overflow: hidden !important;
  &:hover {
    overflow: auto !important;
  }
}

.actions {
  padding: 8px 20px !important;
}

.btnCancel {
  color: var(--primary-dark) !important;
  border: solid 1px !important;
}

.btnAction {
  color: var(--dark-5) !important;
  background: var(--primary-dark) !important;
}
