.react-flow {
  overflow: initial !important;
}

.react-flow__minimap {
  background-color: var(--midnight) !important;
}

.react-flow__controls-button {
  background-color: var(--slate) !important;
}

/* .react-flow__controls-button svg {
  color: white !important;
} */
