.message {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 1em;
  opacity: 0.25;
}

.flexCenterBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexCenterStart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.inputContainer {
  margin-top: 10px;
  width: '100%';
  border-radius: 5px;
  background: var(--dark-2);
}

.typeInfo {
  height: 20px;
  padding-right: 10px;
  background: #606060;
}

.inputNode:not(:last-child) {
  margin-bottom: 10px;
}
