.react-flow {
  overflow: initial !important;
}

.react-flow__minimap {
  background-color: var(--deep-background-color) !important;
}

.react-flow__controls svg {
  fill: white !important;
}

.react-flow__controls-button {
  background-color: var(--background-color) !important;
}

.react-flow__controls-button svg {
  color: white !important;
}

.react-flow__controls-zoomin {
  color: white !important;
}
