$radius: 10px;
$size: 40px;
$rightBgColor: #c6538c;

.avatar {
  width: size;
  height: size;
}

.leftRow {
  text-align: 'left';
  background-color: "transparent",
}

.rightRow {
  text-align: 'right';
  background-color: "gray",
}

.row {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: "auto";
  margin-right: "auto";
  padding-right: 1;
  padding-bottom: 1;
}

.msg {
  padding: spacing(1, 2);
  border-radius: 4;
  margin-bottom: 4;
  display: 'inline-block';
  word-break: 'break-word';
  font-family: // eslint-disable-next-line max-len
    '-apple-system; BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"';
  font-size: '14px';
}

.left {
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
  // background-color: palette.grey[100];
}

.right {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
  background-color: $rightBgColor;
  // color: palette.common.white;
}

.leftFirst {
  border-top-left-radius: $radius;
}

.leftLast {
  border-bottom-left-radius: $radius;
}

.rightFirst {
  border-top-right-radius: $radius;
}

.rightLast {
  border-bottom-right-radius: $radius,
}