.select-dropdown-container {
  position: relative;
}
.select-dropdown-container:hover {
  filter: brightness(1.1);
}
.select-dropdown-container input[type="text"] {
  box-shadow: none !important;
}
.dropdown-indicator {
  transition: transform .2s ease;
}
.select-dropdown-container:hover .dropdown-indicator {
  transform: rotate(90deg);
}
.group-header {
  display: flex;
  align-items: center;
  color: #fff;
  padding: var(--c1);
  background-color: var(--dark-1);
  border-radius: 4px;
  font-family: "IBM Plex Mono";
  letter-spacing: .1em;
}

.select-dropdown-container ::-webkit-scrollbar{
  width: 8px;
  height: 8px;
  }
.select-dropdown-container ::-webkit-scrollbar-thumb{
  border: 2px solid var(--dark-2);
  background: #A8A6A8;
  border-radius: 5px;
  }
.select-dropdown-container ::-webkit-scrollbar-thumb:hover{
  background: #878587;
  }
.select-dropdown-container ::-webkit-scrollbar-track{
  background: transparent;
  }